:root {
    /* colour variables */ 
    --fire: rgb(226, 138, 6);
    --ice: #c0def7;
    --direwolf: #64635b;
    --winterfell: #2e2d42;
    --whiteout: white;
    /* spacing variables: golden ratio */
    --space-xs: 0.382rem;
    --space-s: 0.618rem;
    --space-m: 1rem;
    --space-l: 1.618rem;
    --space-xl: 2.618rem;
    --space-xxl: 4.236rem;
    /* Fonts  */
    --cinzel: 'Cinzel', serif;
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    width: 100vw;
    background: url("assets/north-wall.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: var(--space-l);
    display: flex;
    flex-direction: column;
    line-height: var(--space-m);
    font-family: var(--cinzel);
    text-align: center;
    /* background-image: url("assets/north-wall.png");
    background-size: cover; */
    /* background-image: url("assets/game-of-thrones-dragon-eyes-season-8-uhdpaper.com-4K-64.png"); */
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.game-result {
    display: flex;
    flex-direction: column;
}

h1, p, h2 {
    text-align: center;
    padding: var(--space-m);
    line-height: var(--space-l);
}
h1 {
    display: block;
    font-size: var(--space-xl);
    line-height: var(--space-xl);
    color: var(--fire);
}

.got-title {
    display: none;
}

form {
    line-height: var(--space-l);
    font-family: var(--wsans);
    font-size: var(--space-m);
    display: flex;
    flex-flow: row nowrap;
}
input::placeholder {
    color: var(--glass);
}

.username {
    padding-left: var(--space-s);
    width: 70vw;
    height: var(--space-xl);
    border-radius: 16px;
    margin-right: var(--space-m);
    background-color: var(--ice);
    color: var(--mystic);
    border: 2px solid var(--winterfell);
    outline: none;
}
button {
    font-size: var(--space-l);
    border-radius: 16px;
    height: var(--space-xl);
    color: var(--glass);
    border: 2px solid var(--glass);
    background-color: var(--blueberry);
    cursor: pointer;
    outline: none;
    display: flex;
    flex-flow: column;
}
button:hover {
    color: var(--mystic);
    border: 2px solid var(--mystic);
}


.svg {
    padding: var(--space-xl);
    display: flex;
}

/* table */


table {
    background: rgba(214, 207, 207, 0.596);
    color: var(--whiteout);
    width: 100%;
    overflow-x: auto;
    display: block;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid var(--direwolf);
    text-align: center;
  }

th, thead {
    background-color: var(--winterfell);
    color: var(--whiteout);
    font-size: var(--space-l);
    text-align: center;
}

tr {
    color: black;
}

tr:hover {
    background-color: var(--fire);
    font-weight: bold;
}

tr:checked {
    background-color: var(--fire);
    font-weight: bold;
}

  

/* media queries */
@media (min-width: 768px) {

    html {
        width: 100vw;
    }

    body {
        justify-content: center;
        /* background-image: url("assets/north-wall.png"); */
        /* background-repeat: no-repeat; */
        /* background-size: 100%; */
    }

    h1 {
        padding: var(--space-l);
        font-size: var(--space-xxl);
        display:none;
    }

    h2 {
        margin: var(--space-l);
        background-color: #c0def77a;
        display: inline-block;
        
    }

    .got-title {
        display: block;
    }

    p {
        font-size: var(--space-l);

    }

    form {
        padding-top: var(--space-xl);
    }

    .input {
        width: 20vw;
    }

    

}

   


